
<!DOCTYPE html>
{% extends "base1.html"%}

{% block body_block %}

{% load static %}
<div class="text-center">
    <h3>Contact Page</h3>
<p>Under Development...</p>
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->


<!--<div class="container">-->
<!--    <br>-->
<!--    <button class="btn btn-success btn-lg btn-block"-->
<!--            type="button"><a class="text-white" href="/addNote/">addNote</a></button>-->
<!--    <br>-->

<!--        {% for show in displayNotes %}-->

<!--        <div class="card">-->
<!--            <div class="card-header">-->
<!--                <div class="float-left">-->
<!--                    <p class="card-title ">{{show.name}}</p>-->
<!--                    &lt;!&ndash;  <small class="text-muted">added on {{show.added_on}}</small>&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="float-right">-->
<!--                    <img class="card-img-top rounded-circle img-thumbnail" height="60px"-->
<!--                         src="/FinalProject/media/{{show.note_pic}}"-->
<!--                         style="cursor:pointer"-->
<!--                         width="80px"/>-->
<!--                </div>-->

<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <p class="card-text">{{show.text}}</p>-->
<!--            </div>-->
<!--            <div class="card-footer">-->
<!--                <small class="text-muted">updated on {{show.updated_on}}</small>-->
<!--                <div class="float-right">-->
<!--                    <button class="btn btn-warning"><a class="text-white" href="/editNote/{{show.id}}">update</a>-->
<!--                    </button>-->
<!--                    <button class="btn btn-danger"><a class="text-white" href="/deleteNote/{{show.id}}">delete</a>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <br>-->

<!--        {% endfor %}-->
<!--    </div>-->
<!--</div>-->

{% endblock %}
